/*
    File Name: style.css
    version: V_0_0_2
    Date: 10-07-2018
    updated on : 8-19-18
*/


/*
=========== loader ===========

*/

.loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}
.wrapper_inner {
    width: 100%;
    height: 100%;
}
.spinner {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    padding: 1%;
    position: relative;
}
.spinner h4 {
    position: absolute;
    top: 68px;
    left: 41px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.spinner img {
    width: 100%;
    height: 100%;
}
/* ====loader css ==== */
.loader_css {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #34ccff;
  border-bottom: 16px solid #34ccff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*
=========== cookies ===========
*/
.cookies {
    padding: 50px 0px;
    position: fixed;
    top: 10px;
    z-index: 100;
    width: calc(100% - 30px);
    left: 15px;
    background: rgba(24, 54, 80, 0.9);
    color: #fff;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
/*    display: none;
    opacity: 0;*/
    transform: translateY(0);
    transition: all .3s ease-out;
    font-size: 20px;
}
.cookies a {
    text-decoration: none;
    color: #34ccff;
}
.cookies.fadeout {
    transition: all 3s ease-out;
    opacity: 0;
    transform: translateY(-50px);
    z-index: 0;
}
.accept_cookie_btn {
    position: absolute;
    bottom: 17%;
    right: 6%;
}
.accept_cookie_btn ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.accept_cookie_btn ul li {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #fff;
}
li.cookie_yes img {
    width: 34px;
}
/*
=========== mobile_language_area ===========
*/
.mobile_language_area {
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,.6);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.mobile_vertical_wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 0;
}
.mobile_vertical_wrapper::-webkit-scrollbar {
    display: none;
}
.flags_mobile {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 5px;
}
.flags_mobile::first-child {
    margin-top: 0px;
}
.mobile_language_down {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}
.mobile_language_up {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}
.mobile_language_down span {
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 46px;
    color: #fff;
}
.mobile_language_up span {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 46px;
    color: #fff;
}
.mobile_lang_active {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 35px;
    z-index: 99;
    cursor: pointer;
}
.lang_select {
    position: relative;
    background: #eee;
    padding: 6px 20px 6px 4px;
    margin-top: -5px;
    cursor: pointer;
}
.lang_select img {
    width: 100%;
    height: 28px;
    display: inline-block;
}
.lang_select::after {
    position: absolute;
    top: 2px;
    right: 6px;
    content: "<";
    font-size: 24px;
    color: #000;
    transform: rotate(-90deg);
    font-weight: 600;
}
/*
=========== change sidebar mouse icon ===========
*/
/*.left_sidebar, .right_sidebar,.left_sidebar a, .right_sidebar a{
    cursor: auto;
    cursor: url(http://gondolas02.vbrqx.com/dev/img/icons/brqx_mouse_icon_truck_left_100_100.png) 50 50, auto;
}
*/
/*
=========== middle ===========
*/
.header_area {
    text-align: center;
    margin-top: 20px;
}
.header_area ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.header_area ul li {
    display: block;
    float: left;
    width: 150px;
    height: auto;
}
.header_area ul li a {
	text-decoration: none;
	color: #333;
	font-weight: 600;
	font-size: 22px;
}
#logo_text {
	width: 200px;
}
a.m_drop_lang {
    display: none;
}

@media only screen and (min-width: 3201px) and (max-width: 3840px) {
    .header_area ul li {
        width: 360px;
    }
    #logo_text {
        width: 570px;
    }
    .header_area ul li a {
        font-weight: 700;
        font-size: 60px;
    }
}
@media only screen and (min-width: 2561px) and (max-width: 3200px) {
    .header_area ul li {
        width: 250px;
    }
    #logo_text {
        width: 495px;
    }
    .header_area ul li a {
        font-weight: 700;
        font-size: 50px;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .header_area ul li {
        width: 200px;
    }
    #logo_text {
        width: 400px;
    }
    .header_area ul li a {
        font-weight: 700;
        font-size: 35px;
    }
/*.flags {
    max-width: 210px;
    height: 120px;
}
.flags_forward, .flags_backward {
    font-size: 81px;
}*/
}
@media only screen and (min-width: 1400px) and (max-width: 1920px) {
.header_area ul li {
    width: 200px;
}
#logo_text {
    width: 260px;
}
.header_area ul li a {
    font-size: 30px;
}
}	

@media only screen and (min-width: 400px) and (max-width: 560px) {
.header_area ul li {
    width: 100px;
}
#logo_text {
    width: 150px;
}
.header_area ul li a {
    font-size: 14px;
}    
}
@media only screen and (max-width: 400px) {
.header_area ul li {
    width: 80px;
}
#logo_text {
    width: 100px;
}
.header_area ul li a {
    font-size: 10px;
}    
}

/*language section*/
.language_area {
	position: relative;
	margin-top: 20px;
}
.scrolling_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 86%;
    margin: 0 auto;
}
.scrolling_wrapper::-webkit-scrollbar {
	display: none;
}
.flags {
    display: inline-block;
    max-width: 100px;
    margin-right: 7px;
    height: 60px;
}
.flags:last-child {
	margin: 0;
}
.flags a img {
    width: 100%;
    height: 100%;
    display: block;
}
.flags_forward, .flags_backward {
    position: absolute;
    top: 0px;
    width: 6%;
    height: 71%;
    text-align: center;
    padding: 0px 0px;
    font-size: 36px;
    color: #333;
    cursor: pointer;
}
.flags_forward {
    left: 0px;
}
.flags_backward {
    right: 0px;
}
@media only screen and (min-width: 2561px) and (max-width: 3840px) {
    .flags {
        max-width: 250px;
        height: 140px;
    }
    .flags_forward, .flags_backward {
        font-size: 90px;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .flags {
        max-width: 210px;
        height: 120px;
    }
    .flags_forward, .flags_backward {
        font-size: 81px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1920px) {
.flags {
    max-width: 135px;
    height: 90px;
}
.flags_forward, .flags_backward {
    height: 95%;
    font-size: 55px;
}
}
@media only screen and (max-width: 400px) {
.language_area {
    display: none;
}    
}
/* slider section*/
.slider_area {
	margin-top: 20px;
}
div#slider {
    position: relative;
}
div#carousel {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
#carousel li {
    height: 165px;
}
#carousel li img, #slider li img {
    width: 100%;
    height: 100%;
}
ul.flex-direction-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.flex-nav-prev {
    float: left;
}
li.flex-nav-next {
    float: right;
}
.flexslider ul.slides {
    list-style: none;
    padding: 0;
    margin: 0;
}
#slider .flex-direction-nav {
    display: none;
}
.flex-nav-prev a, .flex-nav-next a {
    color: #fff;
    font-size: 35px;
    width: 55px;
    height: 55px;
    background: #333;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin: 90% 0;
}
.flexslider {
    margin: 0 0 40px;
}
.flexslider .slides img {
    cursor: pointer;
}

#slider li img {
    width: 100%;
    height: 40rem;
}
#carousel .flex-viewport {
    z-index: 99;
}
#carousel .flex-direction-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
li.flex-nav-prev {
    margin-left: -13%;
}
li.flex-nav-next {
    margin-right: -13%;
}
@media only screen and (min-width: 3201px) and (max-width: 3840px) {
#slider li img {
    width: 100%;
    height: 75rem;
}
.flex-nav-prev a, .flex-nav-next a {
    font-size: 71px;
    width: 115px;
    height: 115px;
    border-radius: 75px;
    margin: 90% 0;
}
#carousel li {
    height: 315px;
} 
.link_area .link_style a {
    font-size: 80px;
}
}
@media only screen and (min-width: 2561px) and (max-width: 3200px) {
#slider li img {
    width: 100%;
    height: 60rem;
}
.flex-nav-prev a, .flex-nav-next a {
    font-size: 71px;
    width: 115px;
    height: 115px;
    border-radius: 75px;
    margin: 90% 0;
}
#carousel li {
    height: 315px;
} 
.link_area .link_style a {
    font-size: 80px;
}
}
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
#slider li img {
    width: 100%;
    height: 50rem;
}
.flex-nav-prev a, .flex-nav-next a {
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 50% 0;
} 
.link_area .link_style a {
    font-size: 50px;
}
}
@media only screen and (max-width: 1920px) {
#slider li img {
    width: 100%;
    height: 41rem;
} 
}
@media only screen and (max-width: 1366px) {
#carousel li {
    height: 153px;
}
#slider li img {
    width: 100%;
    height: 30rem;
}    
}
@media only screen and (max-width: 768px) {
#slider li img {
    height: 30rem;
}
#carousel li {
    height: 130px;
}
.flex-nav-prev a, .flex-nav-next a {
    margin: 60% 0;
}
}
@media only screen and (max-width: 500px) {
.flex-nav-prev a, .flex-nav-next a {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin: 50% 0;
}
#slider li img {
    height: 20rem;
}
#carousel li {
    height: 80px;
}
}
@media only screen and (max-width: 400px) {
#slider li img {
    height: 15rem;
}
.flex-nav-prev a, .flex-nav-next a {
    font-size: 19px;
    width: 30px;
    height: 30px;
    margin: 90% 0;
}
}

/* flex_caption section */
.touch_finger {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
    z-index: 99;
}
.whole_caption_area {
    position:  absolute;
    top: 0;
    left:  0;
    background:  #1D374D;
    width:  100%;
    height: 100%;
    z-index: 1;
}
.flex_caption {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    z-index: 1;
    border: 2px solid #34ccff;
}
.marquee-content {
    display: none;
}
.marquee-content.active {
    display: block;
}
.flex_caption .backward {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 4px 0;
}
.flex_caption .forward {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 4px 0;
}
.flex_caption .arrow.up {
    display: inline-block;
    width: 45px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    background: #000;
    border-radius: 100px;
}
.flex_caption .arrow.down {
    display: inline-block;
    width: 45px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    background: #000;
    border-radius: 100px;
}
.flex_caption .marquee {
    width: 100%;
    height: 60%;
}
.marquee_wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.marquee_wrapper::-webkit-scrollbar {
    display: none;
}
.flex_caption .marquee-content {
    font-size: 30px;
    padding: 0 10%;
    text-align: justify;
    color: #fff;
}
.arrow_up img, .arrow_down img {
    width: 25px;
}
.flex_caption .contact_link {
    width: 100%;
    height: 20%;
}
.contact_info {
    position: relative;
}
.contact_info.email {
    text-align: right;
    display: block;
}
.contact_info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
}
.contact_info ul li {
    display: block;
    float: left;
    width: 40px;
    background: #fff;
   /* margin-right: 1px;*/
    height: 52px;
    padding: 5px 0;
    font-size: 25px;
    color: #31CDFF;
}
/* .contact_info.phone ul {
    width: 100%;
} */
li#contact_desc_left {
    width: 142px;
}
li#contact_desc_right {
    width: 200px;
}
.phone #contact_desc_left {
    width: 221px;
}
li#contact_desc_left img {
    width: 200%;
    height: 100%;
}
li#contact_desc_right img {
    width: 80%;
    height: 100%;
}
.contact_info.email ul li:first-child {
    position: relative;
}
.contact_info.email ul li:last-child {
    border-radius: 0 50px 50px 0;
}
.contact_info.phone ul li:nth-child(2) {
    border-radius: 50px 0px 0px 50px;
}
.contact_info.phone ul li:nth-child(1) {
    width: 0;
}
.contact_info.phone ul li:nth-child(3) {
    position: relative;
    width: 1px;
}
.icon_email {
    display: block;
    width: 70px;
    height: 70px;
    background: #31CDFF;
    border-radius: 50%;
    text-align: center;
    padding: 6px 0;
    font-size: 35px;
    position: absolute;
    color: #fff;
    top: -10px;
    left: -59px;
    border: 2px solid #fff;
}
.icon_phone {
    display: block;
    width: 70px;
    height: 70px;
    background: #31CDFF;
    border-radius: 50%;
    text-align: center;
    padding: 6px 0;
    font-size: 35px;
    position: absolute;
    color: #fff;
    top: -10px;
    right: -59px;
    border: 2px solid #fff;
}
.contact_desc {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.contact_desc::-webkit-scrollbar {
    display: none;
}
.contact_link.mobile_visible{
    display: none;
}
.show_link_popup_email, .show_link_popup_phone {
    position: absolute;
    bottom: 76px;
    left: 0;
    width: 100%;
    background: #001;
    color: #fff;
    padding: 2% 5%;
}
.show_link_popup_email p, .show_link_popup_phone p {
    margin: 0;
}
@media only screen and (min-width: 3201px) and (max-width: 3840px) {
    .flex_caption .marquee-content {
        font-size: 60px;
    }    
    .flex_caption .arrow.up {
        width: 85px;
        height: 85px;
        padding: 22px 0;
    }
    .flex_caption .arrow.down {
        width: 85px;
        height: 85px;
        padding: 22px 0;
    }
    .arrow_up img, .arrow_down img {
        width: 55px;
    }
    .contact_info ul li {
        width: 80px;
        height: 95px;
        font-size: 55px;
    }
    li#contact_desc_left {
        width: 300px;
    }
    .phone #contact_desc_left {
       width: 510px; 
    }
    .icon_email {
        width: 165px;
        height: 165px;
        padding: 6px 0;
        font-size: 85px;
        top: -36px;
        left: -146px;
    }
    .icon_phone {
        width: 165px;
        height: 165px;
        font-size: 85px;
        top: -36px;
        right: -85px;
    }
}
@media only screen and (min-width: 2561px) and (max-width: 3200px) {
    .flex_caption .marquee-content {
        font-size: 55px;
    }    
    .flex_caption .arrow.up {
        width: 80px;
        height: 80px;
        padding: 20px 0;
    }
    .flex_caption .arrow.down {
        width: 80px;
        height: 80px;
        padding: 20px 0;
    }
    .arrow_up img, .arrow_down img {
        width: 50px;
    }
    .contact_info ul li {
        width: 80px;
        height: 95px;
        font-size: 55px;
    }
    li#contact_desc_email {
        width: 300px;
    }
    .phone #contact_desc_left {
       width: 510px; 
    }
    li#contact_desc_right {
        width: 350px;
    }
    li#contact_desc_right img {
        width: 51%;
    }
    .icon_email {
        width: 165px;
        height: 165px;
        padding: 6px 0;
        font-size: 85px;
        top: -36px;
        left: -146px;
    }
    .icon_phone {
        width: 165px;
        height: 165px;
        font-size: 85px;
        top: -36px;
        right: -85px;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
.flex_caption .marquee-content {
    font-size: 45px;
}    
.flex_caption .arrow.up {
    width: 75px;
    height: 75px;
    padding: 16px 0;
}
.flex_caption .arrow.down {
    width: 75px;
    height: 75px;
    padding: 16px 0;
}
.arrow_up img, .arrow_down img {
    width: 50px;
}
.contact_info ul li {
    width: 80px;
    height: 95px;
    font-size: 41px;
    padding: 4% 0;
}
li#contact_desc_left {
    width: 232px;
}
li#contact_desc_right {
    width: 308px;
}
.phone #contact_desc_left {
   width: 387px; 
}
.icon_email {
    width: 125px;
    height: 125px;
    padding: 6px 0;
    font-size: 68px;
    top: -15px;
    left: -101px;
}
.icon_phone {
    width: 125px;
    height: 125px;
    padding: 6px 0;
    font-size: 68px;
    top: -15px;
    right: -101px;
}
}
@media only screen and (min-width: 1921px) and (max-width: 2200px){
li#contact_desc_left {
    width: 150px;
}
.phone #contact_desc_left {
   width: 308px; 
}    
.contact_info ul li {
    width: 80px;
    height: 95px;
    font-size: 35px;
    padding: 7% 0;
}
}
@media only screen and (max-width: 767px) {
.flex_caption .forward, .flex_caption .backward {
height: 15%;
}
.flex_caption .marquee {
    height: 70%;
}
.flex_caption .contact_link.mobile_invisible {
    width: 0%;
    display: none;
}
.contact_link.mobile_visible {
    display: block;
}
.flex_caption .marquee-content {
    font-size: 25px;
} 
.contact_info ul li {
    background: #31CDFF;
    color: #333;
    margin-top: 25px;
}
.contact_info.email {
    text-align: center;
    display: block;
}
.contact_info {
    text-align: center;
    display: block;
}
.icon_email, .icon_phone {
    border: 2px solid #2FB7E5;
}
}
@media only screen and (max-width: 510px) {
.arrow_up img, .arrow_down img {
    width: 18px;
}
.flex_caption .arrow.up, .flex_caption .arrow.down {
    width: 30px;
    height: 35px;
    padding: 4px 0;
}   
.flex_caption .marquee-content {
    font-size: 20px;
} 
}
@media only screen and (max-width: 400px) {
.arrow_up img, .arrow_down img {
    width: 14px;
}
.flex_caption .arrow.up, .flex_caption .arrow.down {
    width: 25px;
    height: 28px;
    padding: 0px 0;
}
li#contact_desc_left {
    width: 100px;
}
li#contact_desc_right {
    width: 150px;
}
.contact_info ul li {
    font-size: 20px;
    padding: 8px 0;
}
.phone #contact_desc_left {
    width: 170px;
}   
}
/* links section */
.link_area {
    margin: 36px 0 27px 0;
}
.link_area .link_style {
    text-align: center;
    position: relative;
}
.link_area .link_style a {
    transform: skewX(-15deg);
    display: inline-block;
    padding: 10px 60px;
    border: 2px solid #2ec0f1;
    border-radius: 7px;
    color: #2b2b2b;
    background-color: #34ccff;
    text-decoration: none;
    font-size: 20px;
}
.link_description {
    position: absolute;
    overflow: visible;
    background-color: #183650;
    bottom: 90px;
    left: 51%;
    transform: translateX(-50%);
    padding: 10px 15px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-out, visibility .3s ease-out;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 99;
    color: #fff;
    width: 100%;
}
.link_description.active {
    visibility: visible;
    opacity: 1;	
}
@media only screen and (min-width: 2561px) and (max-width: 3840px){
.link_area .link_style a {
    font-size: 60px;
}   
.link_description {
    font-size: 40px;
}
.link_area {
    margin: 35px 0 27px 0;
}    
}
@media only screen and (min-width: 1921px) and (max-width: 2560px){
.link_area .link_style a {
    font-size: 42px;
}
.link_description {
    font-size: 40px;
    max-width: 700px;
}
.link_area {
    margin: 40px 0 27px 0;
}
}
@media only screen and (min-width: 1400px) and (max-width: 1920px) {
.link_area {
    margin-top: 35px;
}
.link_area .link_style a {
    font-size: 35px;
}
.link_description {
    font-size: 20px;
}
}
@media only screen and (min-width: 500px) and (max-width: 768px) {
.link_area {
    margin: 35px 0 27px 0;
}
.other_link {
    margin-bottom: 20px;
}
.link_description {
    top: -108px;
}
}
@media only screen and (max-width: 500px) {
.link_area .link_style a {
    padding: 8px 12px;
    font-size: 16px;
}
.link_area {
    margin: 30px 0 27px 0;
}
.link_description {
    top: -108px;
    font-size: 11px;
}
/*.other_link {
    margin-bottom: 20px;
}*/
/*.link_area .link_style {
    text-align: left;
}*/
}
/*
=========== sidebar ===========
*/
.left_sidebar, .right_sidebar {
    height: 991px;
    overflow: hidden;
}
.left_sidebar a img, .right_sidebar a img {
    width: 37%;
    margin-bottom: 20px;
    margin-left: 9px;
}
@media only screen and (min-width: 2561px) and (max-width: 4000px) {
    .left_sidebar, .right_sidebar {
        height: 1827px;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .left_sidebar, .right_sidebar {
        height: 1415px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1920px) {
.left_sidebar, .right_sidebar {
    height: 1232px;
}
}
@media only screen and (max-width: 1200px) {
.left_sidebar, .right_sidebar {
    height: 991px;
    overflow: hidden;
}
.left_sidebar a img, .right_sidebar a img {
    width: 100%;
    margin-bottom: 20px;
}    
}
@media only screen and (max-width: 991px) {
.left_sidebar, .right_sidebar {
	display: none;
}	
}

/* transparent_div_style */
.transparent_div_style {
    width: 100%;
    height: 100%;
    background: rgba(1, 8, 10, 0.671);
    z-index: 9999;
    position: fixed;
    display: none;
}